<div class="inline"><img [src]="charactersMap.get(this.player.character).imagePath" height="120" width="120">
  <input type="text" (input)="handleInputEvent($event)" (focusin)="clearName()" (keydown)="onKeydown($event)" (focusout)="checkName()"
         [id]="player.id" [value]="player.name" class="form-control-plaintext text-bottom">
  <div class="form-group">
    <select (change)="handleChangeEvent($event)" class="form-control btn btn-dark select">
      <option [defaultSelected]="charactersMap.get(this.player.character)"
              [disabled]="!charactersMap.get(character.name).isAvailable"
              *ngFor="let character of characters" [value]="character.name">{{character.name}}
        <!-- to consider [ngValue] = this.player.character -->
      </option>
    </select>
  </div>
</div>
<div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
