.cube {
  width: 20px;
  height: 20px;
  position: absolute;
  animation: cubesAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 2;
}

@keyframes cubesAnimation {
  from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}
