<div class="bottom-menu">
  <div class="inline"><img src="../../../assets/img/characters/medic2.png" height="120" width="120"></div>
  <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="inline"><img src="../../../assets/img/actions/move.png" height="120" width="120"><span class="text-bottom">Move</span></div>
  <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="inline"><img src="../../../assets/img/actions/treat2.png" height="120" width="120"><span class="text-bottom">Treat</span></div>
  <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="inline"><img src="../../../assets/img/actions/cure3.png" height="120" width="120"><span class="text-bottom">Cure</span></div>
  <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="inline"><img src="../../../assets/img/actions/build2.png" height="120" width="120"><span class="text-bottom">Build</span></div>
  <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="inline"><img src="../../../assets/img/actions/sharing3.png" height="120" width="120"><span class="text-bottom">Sharing</span></div>
  <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <div class="inline"><img src="../../../assets/img/actions/pass3.png" height="120" width="120"><span class="text-bottom">Skip</span></div>
</div>
