<div class="container-fluid background-map" id="background-map">
  <img class="img" src="../../assets/img/karta-mira-mir-planeta-zemlia-kontinenty-materiki-kletki-sin.jpg"/>
  <app-location *ngFor="let location of locations" [left]="location.left" [top]="location.top"
                [class]="colorConverterService.convertColor(location.color)"
                [name]="location.name" [connections]="location.connections.toString()"></app-location>
  <app-line *ngFor="let connection of connections" [connectionFrom]="connection.from" [connectionTo]="connection.to"></app-line>
  <app-pawn *ngFor="let player of players" [city]="player.city" [color]="player.color"></app-pawn>
  <app-left-menu></app-left-menu>
  <app-upper-menu></app-upper-menu>
  <app-right-menu></app-right-menu>
  <app-bottom-menu></app-bottom-menu>
  <app-infection-cubes *ngFor="let location of locations" [left]="location.left" [top]="location.top" [cubes]="location.cubes"
                       [name]="location.name" [color]="location.color"></app-infection-cubes>
</div>
