<div class="container-fluid map2">
  <img src="../assets/img/karta-mira-mir-planeta-zemlia-kontinenty-materiki-kletki-sin.jpg"/>
  <app-location *ngFor="let location of locations" [left]="location.left" [top]="location.top"
                [class]="colorConverter(location.color)"
                [name]="location.name" [connections]="location.connections.toString()"></app-location>
  <app-line *ngFor="let connection of connections" [connectionFrom]="connection.from" [connectionTo]="connection.to"></app-line>
</div>
