<div class="container-fluid background-map" id="background-map">
  <img class="img" src="../../assets/img/karta-mira-mir-planeta-zemlia-kontinenty-materiki-kletki-sin.jpg"/>
</div>
<div class="background">
  <div class="form-group flex-row">
    <label class="label" for="playerNumber">Number of players: &nbsp;</label>
    <select [(ngModel)]="playerNumber" class="form-control btn btn-dark select" id="playerNumber">
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="label">
    <div class="inline"><img [src]="player1Image" height="120" width="120">
      <div class="text-bottom">Przemek</div>
      <div class="form-group">
        <select (change)="handleChangeEvent($event, this.player1)" id="player1" class="form-control btn btn-dark select">
          <option [defaultSelected]="character.name === player1" [disabled]="map.get(character.name) === 1 && character.name != 'Random'" *ngFor="let character of characters" [value]="character.name">{{character.name}}</option>
        </select>
      </div>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="inline"><img [src]="player2Image" height="120" width="120">
      <div (click)="enable()"><input type="text" (input)="handleInputEvent($event)" (focusout)="setTrue()" (keydown)="onKeydown($event)" id="input2" [value]="value" class="form-control-plaintext text-bottom" [disabled]="hide"></div>
      <div class="form-group">
        <select (change)="handleChangeEvent($event, this.player2)" id="player2" class="form-control btn btn-dark select">
          <option [defaultSelected]="character.name === player2" [disabled]="map.get(character.name) === 1 && character.name != 'Random'" *ngFor="let character of characters" [value]="character.name">{{character.name}}</option>
        </select>
      </div>
    </div>
    <div [hidden]="playerNumber < 3" class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div [hidden]="playerNumber < 3"  class="inline"><img [src]="player3Image" height="120" width="120">
      <div class="text-bottom">Natalia</div>
      <div class="form-group">
        <select (change)="handleChangeEvent($event, this.player3)" id="player3" class="form-control btn btn-dark select">
          <option [defaultSelected]="character.name === player3" [disabled]="map.get(character.name) === 1 && character.name != 'Random'" *ngFor="let character of characters" [value]="character.name">{{character.name}}</option>
        </select>
      </div>
    </div>
    <div [hidden]="playerNumber < 4" class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div [hidden]="playerNumber < 4" class="inline"><img [src]="player4Image" height="120" width="120">
      <div class="text-bottom">Bartek</div>
      <div class="form-group">
        <select (change)="handleChangeEvent($event, this.player4)" id="player4" class="form-control btn btn-dark select">
          <option [defaultSelected]="character.name === player4" [disabled]="map.get(character.name) === 1 && character.name != 'Random'" *ngFor="let character of characters" [value]="character.name">{{character.name}}</option>
        </select>
      </div>
    </div>
  </div><br>
  <div class="form-group flex-row">
    <span class="label" for="pandemicNumber">Number of pandemic cards: &nbsp;</span>
    <select class="form-control btn btn-dark select" id="pandemicNumber">
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <a routerLink="/game" class="btn btn-dark">Start game</a>
</div>
