<div class="container-fluid background-map" id="background-map">
  <img class="img" src="../../assets/img/karta-mira-mir-planeta-zemlia-kontinenty-materiki-kletki-sin.jpg"/>
</div>
<div class="background">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="form-group flex-row">
    <label class="label" for="playerNumber">Number of players: &nbsp;</label>
    <select [(ngModel)]="characterChoiceDTO.playerNumber" class="form-control btn btn-dark select" id="playerNumber" name="playerNumber">
      <option [defaultSelected] = "number === characterChoiceDTO.playerNumber"
              *ngFor="let number of maxPlayers">{{number}}</option>
    </select>
  </div>
  <div class="label">
    <app-player *ngFor="let player of characterChoiceDTO.playerNumber|times
    let x = index" [player]="characterChoiceDTO.players[x]"></app-player>
  </div><br>
  <div class="form-group flex-row">
    <label class="label" for="pandemicNumber">Number of pandemic cards: &nbsp;</label>
    <select [(ngModel)]="characterChoiceDTO.pandemicNumber" class="form-control btn btn-dark select" id="pandemicNumber" name="pandemicNumber">
      <option [defaultSelected] = "number === characterChoiceDTO.pandemicNumber"
              *ngFor="let number of maxPandemicCards">{{number}}</option>
    </select>
  </div>
  <!--<a routerLink="/game" class="btn btn-dark">Start game</a>-->
    <button type="submit" [disabled]="!userForm.form.valid"
            class="btn btn-info">Start game</button>
  </form>
</div>
