<div class="container-fluid map2" id="map2">
  <img class="img" src="../../assets/img/karta-mira-mir-planeta-zemlia-kontinenty-materiki-kletki-sin.jpg"/>
</div>
<div class="background">
  <div class="form-group flex-row">
    <label class="label" for="playerNumber">Number of players: &nbsp;</label>
    <select class="form-control btn btn-dark select" id="playerNumber">
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="label">
    <div class="inline"><img src="../../assets/img/character-choice.png" height="120" width="120">
      <div class="text-bottom">Przemek</div>
      <div class="text-bottom">Medic</div>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="inline"><img src="../../assets/img/character-choice.png" height="120" width="120">
      <div class="text-bottom">Aldonka</div>
      <div class="text-bottom">Scientist</div>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="inline"><img src="../../assets/img/character-choice.png" height="120" width="120">
      <div class="text-bottom">Natalia</div>
      <div class="text-bottom">Researcher</div>
    </div>
    <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class="inline"><img src="../../assets/img/character-choice.png" height="120" width="120">
      <div class="text-bottom">Bartek</div>
      <div class="text-bottom">Dispatcher</div>
    </div>
  </div><br>
  <div class="form-group flex-row">
    <span class="label" for="pandemicNumber">Number of pandemic cards: &nbsp;</span>
    <select class="form-control btn btn-dark select" id="pandemicNumber">
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <button type="button" class="btn btn-dark">Start game</button>
</div>
