.cube {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 2;
}

.one-cube {
  -webkit-animation: cubesAnimation 8s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: cubesAnimation 8s linear infinite; /* Firefox 5-15 */
  -o-animation: cubesAnimation 8s linear infinite; /* Opera 12+ */
  animation: cubesAnimation 8s linear infinite;
}

.two-cubes-first {
  -webkit-animation: cubesAnimation-2-1 8s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: cubesAnimation-2-1 8s linear infinite; /* Firefox 5-15 */
  -o-animation: cubesAnimation-2-1 8s linear infinite; /* Opera 12+ */
  animation: cubesAnimation-2-1 8s linear infinite;
}

.two-cubes-second {
  -webkit-animation: cubesAnimation-2-2 8s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: cubesAnimation-2-2 8s linear infinite; /* Firefox 5-15 */
  -o-animation: cubesAnimation-2-2 8s linear infinite; /* Opera 12+ */
  animation: cubesAnimation-2-2 8s linear infinite;
}

.three-cubes-first {
  -webkit-animation: cubesAnimation-3-1 8s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: cubesAnimation-3-1 8s linear infinite; /* Firefox 5-15 */
  -o-animation: cubesAnimation-3-1 8s linear infinite; /* Opera 12+ */
  animation: cubesAnimation-3-1 8s linear infinite;
}

.three-cubes-second {
  -webkit-animation: cubesAnimation-3-2 8s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: cubesAnimation-3-2 8s linear infinite; /* Firefox 5-15 */
  -o-animation: cubesAnimation-3-2 8s linear infinite; /* Opera 12+ */
  animation: cubesAnimation-3-2 8s linear infinite;
}

.three-cubes-third {
  -webkit-animation: cubesAnimation-3-3 8s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: cubesAnimation-3-3 8s linear infinite; /* Firefox 5-15 */
  -o-animation: cubesAnimation-3-3 8s linear infinite; /* Opera 12+ */
  animation: cubesAnimation-3-3 8s linear infinite;
}
@-webkit-keyframes cubesAnimation {
  from { -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-moz-keyframes cubesAnimation {
  from { -moz-transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-o-keyframes cubesAnimation {
  from { -o-transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@keyframes cubesAnimation {
  from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

@-webkit-keyframes cubesAnimation-2-1 {
  from { -webkit-transform: rotate(80deg) translateX(20px) rotate(-80deg); }
  to   { -webkit-transform: rotate(440deg) translateX(20px) rotate(-440deg); }
}

@-moz-keyframes cubesAnimation-2-1 {
  from { -moz-transform: rotate(80deg) translateX(20px) rotate(-80deg); }
  to   { -moz-transform: rotate(440deg) translateX(20px) rotate(-440deg); }
}

@-o-keyframes cubesAnimation-2-1 {
  from { -o-transform: rotate(80deg) translateX(20px) rotate(-80deg); }
  to   { -o-transform: rotate(440deg) translateX(20px) rotate(-440deg); }
}
@keyframes cubesAnimation-2-1{
  from { transform: rotate(80deg) translateX(20px) rotate(-80deg); }
  to   { transform: rotate(440deg) translateX(20px) rotate(-440deg); }
}

@-webkit-keyframes cubesAnimation-2-2 {
  from { -webkit-transform: rotate(260deg) translateX(20px) rotate(-260deg); }
  to   { -webkit-transform: rotate(620deg) translateX(20px) rotate(-620deg); }
}

@-moz-keyframes cubesAnimation-2-2 {
  from { -moz-transform: rotate(260deg) translateX(20px) rotate(-260deg); }
  to   { -moz-transform: rotate(620deg) translateX(20px) rotate(-620deg); }
}

@-o-keyframes cubesAnimation-2-2 {
  from { -o-transform: rotate(260deg) translateX(20px) rotate(-260deg); }
  to   { -o-transform: rotate(620deg) translateX(20px) rotate(-620deg); }
}
@keyframes cubesAnimation-2-2 {
  from { transform: rotate(260deg) translateX(20px) rotate(-260deg); }
  to   { transform: rotate(620deg) translateX(20px) rotate(-620deg); }
}

@-webkit-keyframes cubesAnimation-3-1 {
  from { -webkit-transform: rotate(90deg) translateX(20px) rotate(-90deg); }
  to   { -webkit-transform: rotate(450deg) translateX(20px) rotate(-450deg); }
}

@-moz-keyframes cubesAnimation-3-1 {
  from { -moz-transform: rotate(90deg) translateX(20px) rotate(-90deg); }
  to   { -moz-transform: rotate(450deg) translateX(20px) rotate(-450deg); }
}

@-o-keyframes cubesAnimation-3-1 {
  from { -o-transform: rotate(90deg) translateX(20px) rotate(-90deg); }
  to   { -o-transform: rotate(450deg) translateX(20px) rotate(-450deg); }
}
@keyframes cubesAnimation-3-1 {
  from { transform: rotate(90deg) translateX(20px) rotate(-90deg); }
  to   { transform: rotate(450deg) translateX(20px) rotate(-450deg); }
}

@-webkit-keyframes cubesAnimation-3-2 {
  from { -webkit-transform: rotate(210deg) translateX(20px) rotate(-210deg); }
  to   { -webkit-transform: rotate(570deg) translateX(20px) rotate(-570deg); }
}

@-moz-keyframes cubesAnimation-3-2 {
  from { -moz-transform: rotate(210deg) translateX(20px) rotate(-210deg); }
  to   { -moz-transform: rotate(570deg) translateX(20px) rotate(-570deg); }
}

@-o-keyframes cubesAnimation-3-2 {
  from { -o-transform: rotate(210deg) translateX(20px) rotate(-210deg); }
  to   { -o-transform: rotate(570deg) translateX(20px) rotate(-570deg); }
}
@keyframes cubesAnimation-3-2 {
  from { transform: rotate(210deg) translateX(20px) rotate(-210deg); }
  to   { transform: rotate(570deg) translateX(20px) rotate(-570deg); }
}

@-webkit-keyframes cubesAnimation-3-3 {
  from { -webkit-transform: rotate(330deg) translateX(20px) rotate(-330deg); }
  to   { -webkit-transform: rotate(690deg) translateX(20px) rotate(-690deg); }
}

@-moz-keyframes cubesAnimation-3-3 {
  from { -moz-transform: rotate(330deg) translateX(20px) rotate(-330deg); }
  to   { -moz-transform: rotate(690deg) translateX(20px) rotate(-690deg); }
}

@-o-keyframes cubesAnimation-3-3 {
  from { -o-transform: rotate(330deg) translateX(20px) rotate(-330deg); }
  to   { -o-transform: rotate(690deg) translateX(20px) rotate(-690deg); }
}
@keyframes cubesAnimation-3-3 {
  from { transform: rotate(330deg) translateX(20px) rotate(-330deg); }
  to   { transform: rotate(690deg) translateX(20px) rotate(-690deg); }
}
